body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: hsl(300, 78%, 14%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Center Container*/
.content{
    background: white;
    border-radius: 24px;
    box-shadow: 2 2 2 white;
    width: 95%;
    height: 95%;
}
.projectContainer{
    display: grid;
}

.sidebar{
    width: 250px;
    height: 100%;
    background: red;
}
