@font-face {
    font-family: 'FantasqueSansMono';
    src: url('../assets/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
      url('../assets/fonts/FantasqueSansMono-Regular.woff') format('woff');
}

/*Apply our whole page styling, CSS reset, Font, forced size and position our main components in a grid*/;
body {
    font-family: 'FantasqueSansMono';
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box; 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 64px 1fr 40px;
   
}

.content{

}

