@import "./mixins.scss";

.header{
    @include themeLight;
    @include headFootBase;

    img{
        @include imageBase;
    }

    .pageName{

    }

    button{
        margin-left: auto;
        margin-right: 25px;
        height: 56px;
        width: 128px;
        @include buttonBase;  
    }

    button:hover{
        background-color: #dddddd;
    }
}